<div class="col-md-12">
    <div class="card">
        <div class="card-content table-responsive table-full-width">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th *ngFor="let cell of tableData3.headerRow">{{ cell }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td *ngFor="let cell of tableData3.dataRows[0]">{{cell}}</td>
                        <button class="btn btn-primary btn-fill btn-sm">Update</button>
                        <button class="btn btn-danger btn-fill btn-sm" style="margin: 5px;">Delete</button>
                        <ul class="btn btn-warning btn-fill btn-sm">
                            <li class="dropdown">
                                <a href="#notifications" class="dropdown-toggle btn-rotate" style="color: white;" data-toggle="dropdown">
                                    Change Permission
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#not1">Notification 1</a></li>
                                    <li><a href="#not2">Notification 2</a></li>
                                    <li><a href="#not3">Notification 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </tr>
                    <tr>
                        <td *ngFor="let cell of tableData3.dataRows[1]">{{cell}}</td>
                        <button class="btn btn-primary btn-fill btn-sm">Update</button>
                        <button class="btn btn-danger btn-fill btn-sm" style="margin: 5px;">Delete</button>
                        <ul class="btn btn-warning btn-fill btn-sm">
                            <li class="dropdown">
                                <a href="#notifications" style="color: white;" class="dropdown-toggle btn-rotate" data-toggle="dropdown">
                                    Change Permission
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#not1">Notification 1</a></li>
                                    <li><a href="#not2">Notification 2</a></li>
                                    <li><a href="#not3">Notification 3</a></li>
                                </ul>
                            </li>
                        </ul>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>