<div class="card">
    <span style="margin-left: 20px;font-style: italic;margin-top: 20px;"><a (click)="openModalCreateDod()" href="javascript:;">Create new</a></span>
    <div class="card-body">
        <table class="table table-hover">
            <tbody *ngIf="isNoData">
                <tr *ngFor="let d of dods; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{d.content}}</td>
                    <td>
                        <button (click)="deleteDod(d.dodId)" class="btn btn-square btn-danger btn-sm">Delete</button>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="!isNoData">
                <tr style="color:red">
                    <td>No data result !</td>
                </tr>
            </tbody>
        </table>
        <a href="javascript:;" (click)="back()">Back</a>
    </div>
</div>
<div bsModal #modalCreateDod="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}} Dod</h4>
                <button type="button" class="close" (click)="modalCreateDod.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="text" name="content" [(ngModel)]="dod.content" class="form-control" placeholder="Content">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-square btn-secondary" (click)="modalCreateDod.hide()">Close</button>
                <button type="button" class="btn btn-square btn-primary" (click)="save()">{{title}}</button>
            </div>
        </div>
    </div>
</div>