<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <tabset>
                <tab *ngFor="let d of datas" heading="{{d.quarterName}}">
                    <div class="card">
                        <div class="card-header"><b>Objectives</b></div>
                        <span style="margin-left: 20px;font-style: italic;margin-top: 20px;"><a href="#">Create new</a></span>
                        <div class="card-body">
                            <table class="table table-hover">
                                <tbody>
                                    <tr *ngFor="let o of d.objectives">
                                        <td>{{o.objectiveName}}</td>
                                        <td>{{o.description}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
    </div>
</div>