<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"><b>Okr Of The Quarter</b></div>
                <div class="card-body">
                    <tabset>
                        <tab *ngFor="let d of datas" heading="{{d.quarterName}}">
                            <app-objective [page]="pageName" [objectives]="d.objectives"></app-objective>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>