<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header"><b>Users</b></div>
                <span style="margin-left: 20px;font-style: italic;margin-top: 20px;"><a (click)="openModalCreate()" href="javascript:;">Create new</a></span>
                <div class="search-table-outter wrapper">
                    <div class="card-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Content</th>
                                    <th>Age</th>
                                    <th>Gender</th>
                                    <th>Address</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let question of questions">
                                    <td>{{question.id}}</td>
                                    <td>{{question.content}}</td>
                                    <td>{{user.age}}</td>
                                    <td>{{user.gender}}</td>
                                    <td>{{user.address}}</td>
                                    <td>
                                        <button (click)="openUpdateModal(question)" class="btn btn-square btn-primary btn-sm">Update</button>
                                        <button (click)="deactive(question.id)" class="btn btn-square btn-danger btn-sm">Deactive</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 