<p style="margin-left: 20px;font-style: italic;margin-top: 20px;">
    <a href="javascript:;" (click)="openModalCreate()">Create new</a>
</p>
<div class="card-body">
    <table class="table table-hover">
        <tbody>
            <tr *ngFor="let ob of objectives">
                <td><a href="javascript:;" (click)="goKrList(ob)">{{ob.objectiveName}}</a></td>
                <td>{{ob.description}}</td>
                <td>
                    <button (click)="openModalUpdate(ob)" class="btn btn-square btn-primary btn-sm">Update</button>
                    <button (click)="remove(ob.objectiveId)" class="btn btn-square btn-danger btn-sm">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<div bsModal #modalCreate="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{title}} objective</h4>
                <button type="button" class="close" (click)="modalCreate.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="name" [(ngModel)]="objective.objectiveName" name="name" class="form-control" placeholder="Objective">
                    </div>
                    <div class="form-group" *ngIf="type==2">
                        <select class="form-control" name="teamName" [(ngModel)]="objective.teamId">
                            <option *ngFor="let team of teams" [selected]="team.teamId==objective.teamId" [value]="team.teamId" >
                                {{team.teamName}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group">
                        <textarea type="name" [(ngModel)]="objective.description" name="teamname" class="form-control" placeholder="Description"></textarea>
                    </div>
                    <div class="form-group" *ngIf="type==1">
                        <form class="form-inline">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio1" (change)="onItemChange(1)" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio1">Quý I</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio2" (change)="onItemChange(2)" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio2">Quý II</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio3" (change)="onItemChange(3)" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio3">Quý III</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" id="customRadio4" (change)="onItemChange(4)" name="customRadio" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio4">Quý IV</label>
                            </div>
                        </form>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-square btn-secondary" (click)="modalCreate.hide()">Close</button>
                <button type="button" class="btn btn-square btn-primary" (click)="save()">{{title}}</button>
            </div>
        </div>
    </div>
</div>