 .search-table {
     table-layout: fixed;
     margin: 0px auto 0px auto;
 }
 
 .search-table,
 td,
 th {
     border-collapse: collapse;
 }
 
 th {
     padding: 7px 7px;
     font-size: 15px;
     color: #444;
     background: #66C2E0;
 }
 
 td {
     padding: 5px 10px;
     height: 35px;
 }
 
 .search-table-outter {
     overflow-x: scroll;
 }
 
 th,
 td {
     min-width: 300px;
 }