<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="search-table-outter wrapper">

                <div class="card-header">
                    <b>Objective</b>
                </div>
                <div class="card-body">
                    <table class="search-table inner">
                        <tr>
                            <th>Col1</th>
                            <th>Col2</th>
                            <th>Col3</th>
                            <th>Col4</th>
                            <th>Col5</th>
                            <th>Col6</th>
                            <th>Col7</th>
                            <th>Col8</th>
                            <th>Col9</th>
                            <th>Col10</th>
                        </tr>
                        <tr>
                            <td><a href="#">Kr 1 </a></td>
                            <td>The brown fox is mad jumping all over the place for no reason </td>
                            <td>The brown fox is mad jumping all over the place for no reason </td>
                            <td>The brown fox is mad jumping all over the place for no reason </td>
                            <td>The brown fox is mad jumping all over the place for no reason </td>
                            <td>The brown fox is mad jumping all over the place for no reason </td>
                            <td>The brown fox is mad jumping all over the place for no reason </td>
                            <td>The brown fox is mad jumping all over the place for no reason </td>
                            <td>The brown fox is mad jumping all over the place for no reason </td>
                            <td>The brown fox is mad jumping all over the place for no reason </td>
                        </tr>
                    </table>
                </div>

                <div class="card-header">
                    <b>Objective</b>
                </div>
                <div class="card-body">

                    <table class="search-table inner">
                        <tr>
                            <th>Col1</th>
                            <th>Col2</th>
                            <th>Col3</th>
                            <th>Col4</th>
                            <th>Col5</th>
                            <th>Col6</th>
                            <th>Col7</th>
                            <th>Col8</th>
                            <th>Col9</th>
                            <th>Col10</th>
                        </tr>
                        <tr>
                            <td><a href="#">Kr 1 </a></td>
                            <td>The brown fox is mad jumping all over the place for no reason </td>
                            <td>The brown fox is mad jumping all over the place for no reason </td>
                            <td>The brown fox is mad jumping all over the place for no reason </td>
                            <td>The brown fox is mad jumping all over the place for no reason </td>
                            <td>The brown fox is mad jumping all over the place for no reason </td>
                            <td>The brown fox is mad jumping all over the place for no reason </td>
                            <td>The brown fox is mad jumping all over the place for no reason </td>
                            <td>The brown fox is mad jumping all over the place for no reason </td>
                            <td>The brown fox is mad jumping all over the place for no reason </td>
                        </tr>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>