<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="card">
            <div class="card-content">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                            <li class="active"><a href="#hq" data-toggle="tab">CodeGym HQ</a></li>
                            <li><a href="#dn" data-toggle="tab">CodeGym Đà Nẵng</a></li>
                            <li><a href="#hue" data-toggle="tab">CodeGym Huế</a></li>
                            <li><a href="#vinh" data-toggle="tab">CodeGym Vinh</a></li>
                        </ul>
                    </div>
                </div>
                <div id="my-tab-content" class="tab-content text-center">
                    <div class="tab-pane active" id="hq">
                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly meets the new Retina HD display.</p>
                    </div>
                    <div class="tab-pane" id="dn">
                        <p>Here is your profile.</p>
                    </div>
                    <div class="tab-pane" id="hue">
                        <p>Here are your messages.</p>
                    </div>
                    <div class="tab-pane" id="vinh">
                        <p>Here are your messages.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>