<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"><b>{{teamName}}</b></div>
                <div class="card-body">
                    <tabset>
                        <tab heading="Team members">
                            <div *ngIf="isAddMember">
                                <span style="margin-left: 20px;font-style: italic;margin-top: 20px;">
                                    <a href="javascript:;" (click)="addMember()">Add Members</a>
                                </span>
                            </div>
                            <div *ngIf="!isAddMember" style="width: 500px;" class="row">
                                <div class="col-md-8">
                                    <l-select2 [(ngModel)]="dataSelected" [data]="allUser" [options]="options" [ngModelOptions]="{standalone: true}"></l-select2>

                                </div>
                                <div class="col-md-4" style="margin-top: 3px;padding-left: 0;">
                                    <button class="btn btn-square btn-success btn-sm" (click)="addMember()">Save</button>
                                    <button class="btn btn-square btn-default btn-sm" (click)="cancel()">Cancel</button>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-hover">
                                    <thead>
                                        <tr style="border-bottom: none;">
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Dob</th>
                                            <th>Phone number</th>
                                            <th>Address</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let emp of employees">
                                            <td> {{emp.userName}} </td>
                                            <td>{{emp.email}}</td>
                                            <td>{{emp.dob}}</td>
                                            <td>{{emp.phoneNumber}}</td>
                                            <td>{{emp.address}}</td>
                                            <td>
                                                <button (click)="removeMember(emp.employeeId)" class="btn btn-square btn-danger btn-sm">Remove</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a href="javascript:;" (click)="back()">Back</a>
                            </div>
                        </tab>
                        <tab heading="Objectives">
                            <app-objective [objectives]="objectives" (changeData)="objectiveChanged($event)" [page]="pageName" [teamId]="teamId"></app-objective>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>