<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header"><b>{{objectiveName}}</b></div>
                <div class="card-body">
                    <tabset>
                        <tab heading="Key Result">
                            <app-key-result [objectiveId]="objectiveId"></app-key-result>
                        </tab>
                        <tab heading="DoD">
                            <app-dod [objectiveId]="objectiveId"></app-dod>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
    </div>
</div>