<div class="animated fadeIn">
    <div class="card">
        <div class="card-body">
            <h3>Objective {{year}}: {{data.objective}}</h3>
        </div>
    </div>
    <div class="card">
        <div class="card-body">{{data.description}}</div>
    </div>
    <div class="card">
        <div class="card-header">
            <b> DoD</b>
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr *ngFor="let d of dods">
                        <td>{{d.id}}</td>
                        <td>{{d.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <b>Objective Quarter</b>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <tbody>
                    <ng-container *ngFor="let oq of data.okrOfQuarters">
                        <tr>
                            <td [attr.rowspan]="oq.objectives.length" style="text-align: center;">{{oq.quarterName}}</td>
                            <td>{{oq.objectives[0].objectiveName}}</td>
                        </tr>
                        <ng-container *ngFor="let des of oq.objectives; let i= index;">
                            <tr *ngIf="i!=0">
                                <td>{{des.objectiveName}}</td>
                            </tr>
                        </ng-container>
                    </ng-container>
                </tbody>
            </table>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <b>Main mission</b>
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr *ngFor="let mm of mainMission">
                        <td>{{mm.department}}</td>
                        <td>{{mm.description}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>